
.page-layout {
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
}
.shopping-bag-container {
    flex: 1; 
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 300px; 
    overflow: visible;
}

.sidebar-container {
    width: 30%; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
color: black;
 font-size: larger;
}
a:hover {
    color: #9b5d00;
}

.sidebar-container ul {
    list-style: none; 
    padding: 0;
}

.sidebar-container li {
    padding: 8px 0; 
    border-bottom: 1px solid #ccc; 
}

.sidebar-container li:last-child {
    border-bottom: none;
}

.sidebar-container h2 {
    border-bottom: 0.5px solid #ccc; 
    padding-bottom: 40px; 
    margin-bottom: 20px;
}

.btn-outline-primary {
    color: #9b5d00;
    border-color: #9b5d00;
}

.btn-outline-primary:hover {
    background-color: #ffffff;
    color: black;
    border-color: black;

}

.btn-primary {
    background-color: #9b5d00;
    border-color: #9b5d00;
    margin-right: 10px;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;

}
footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%; 
    text-align: center; 
    padding: 10px 0;
    background-color: #f1f1f1; 
    color: #333; 
}


/* Hero Section Styles */
.hero {
    background-color: #9b5d00;
    padding: 80px 0;
    text-align: center;
}

.hero img {
    max-width: 200px;
    margin-bottom: 30px;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
